/* Resets */
body,
h1,
p,
ul,
h2,
h3 {
  margin: unset;
}

h1,
h2 {
  font-size: unset;
  font-weight: unset;
}

ul {
  padding: unset;
}

img {
  vertical-align: top;
}

/* Typography */
:root {
  font-family: "Arial";
}

/* Layouts */

.l_wrapper {
  width: 960px;
  margin: 0 auto;
}

.l_row {
  font-size: 0;
  margin: 0 -15px;
}

.l_col {
  display: inline-block;
  font-size: initial;
  width: 33.333%;
  padding: 0 15px;
  box-sizing: border-box;
}
/* Components */

.header {
  background-image: url("./images/bg-wood.png");
  background-size: cover;
  padding-top: 100px;
  color: #ffa500;
}

.container {
  border: 30px solid #ffa500;
  padding: 60px 60px 70px 60px;
  border-bottom: none;
}

.container {
  height: auto;

  background-image: url("./images/bg-circle.png");
  background-size: 290px;
  background-repeat: no-repeat;
  background-position: top 54px right 54px;
}

.container h1 {
  font-size: 32px;
  width: fit-content;
  letter-spacing: 0.19em;
}

.container h1::after {
  content: " ";
  display: block;
  height: 4px;
  background-color: #ffa500;
  border-radius: 12px;
  margin-top: 3px;
  margin-bottom: 26px;
}

.container p {
  line-height: 1.6;
}

.contents {
  background-color: #ddd;
  padding: 30px 0;
}

.card {
  background-color: #fff;
  border-radius: 12px;
  overflow: hidden;
  color: #ffa500;
}

.card-cover {
  width: 100%;
}

.card-title {
  border-top: 4px solid;
  background-image: url("./icons/playButton.svg");
  background-repeat: no-repeat;
  background-position: right center;
  height: 50px;
  line-height: 50px;
  padding-left: 10px;
  font-weight: 600;
}

.footer {
  border-top: 2px solid #aaa;
  background-color: #fff;
  text-align: center;
  height: 54px;
  line-height: 54px;

  font-weight: 600;
  color: #aaa;
  letter-spacing: 0.29em;
}
