/* Reset */
body {
  margin: unset;
}

/* Typography */
:root {
  font-family: "Montserrat", sans-serif;
}

/* Components */
.container {
  box-shadow: inset 0 0 20px red;
  height: 100vh;
  display: grid;

  /* 전체 그리드 컨테이너에서 가로 세로 중앙 정렬 */
  justify-content: center;
  align-content: center;

  /* 창 크기 작아졌을때 좌우 padding확보 */
  padding: 0 40px;

  /*
      첫번째 column은 244px 고정 
      두번째 column은 
        min-width도 0으로 초기화, 
        max-width: 830px으로 하여 상황에 따라 작아질 수 있게 만듦
          -> 즉 고정값이 아니게! 
    */
  grid-template-columns: 244px minmax(0, 830px);
  grid-template-rows: minmax(600px, auto);
}

.sidebar {
  box-shadow: inset 0 0 20px red;
}

.contents {
  box-shadow: inset 0 0 20px blue;
  position: relative;
}

.test {
  width: 50px;
  height: 50px;
  position: absolute;
  left: 0;
  top: 0;
  inset: 0;
  margin: auto;
  box-shadow: inset 0 0 20px purple;

  cursor: pointer;
  transform: rotate(120deg) translateY(-200px);
}
