/* Reset */
body,
h1,
p,
figure {
  margin: unset;
}

h1 {
  font-size: unset;
  font-weight: unset;
}

img {
  width: 100%;
  vertical-align: top;
}

/* Variables */

:root {
  --color-white: #fff;

  --color-brown-30: #e8bc9c;
  --color-brown-60: #9c6035;
  --color-brown-90: #46260e;

  /* 넓이 조정 가능 */
  --wrapper-width: 300px;
}

/* Layouts */
/* Typography */
:root {
  font-family: "Arial";
  font-size: 62.5%;
  line-height: 1.2;
}

body {
  font-size: 1.6rem;
}

/* Components */
body {
  background-image: url("./images/bg.png");

  background-position: center;
  background-attachment: fixed;
}

.center {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px;
  box-sizing: border-box;
}

.animal {
  width: 300px;

  color: var(--color-white);
}

.animal-cover {
  text-align: center;
}

.animal-cover img {
  width: 300px;
}

.animal-main::before {
  content: " ";
  display: block;
  background-image: url("./images/green.png");
  height: 50px;
}

.animal-contents {
  background-color: var(--color-brown-60);
  padding: 0 20px 47px 20px;

  border-bottom: 10px solid var(--color-brown-90);
  border-radius: 0 0 30px 30px;
}

.animal-contents h1 {
  /* 마진 병합을 해결 */
  display: inline-block;

  font-size: 3.6rem;
  font-weight: 700;

  margin: 10px 0;
}

.animal-contents p {
  color: var(--color-brown-30);
}
